<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
		 xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers">

	<f:layout name="Content"/>

	<f:section name="Main">
		<f:if condition="{data.tx_contentelements_card_flip_enable}">
			<f:then>
				<f:render partial="Bootstrap/v4.x/Card" section="CardFlip" arguments="{
				header: '{data.header}',
				header_link: '{data.header_link}',
				subheader: '{data.subheader}',
				bodytext: '{data.bodytext}',
				tx_contentelements_bodytext: '{data.tx_contentelements_bodytext}',
				tx_contentelements_card_header: '{data.tx_contentelements_card_header}',
				tx_contentelements_card_footer: '{data.tx_contentelements_card_footer}',
				images: '{images}',
				class: '{data.tx_contentelements_background_color}',
				imageOverlay: '{data.tx_contentelements_card_image_overlay}',
				animation: '{data.tx_contentelements_animation}'}"/>
			</f:then>
			<f:else>
				<f:render partial="Bootstrap/v4.x/Card" section="Card" arguments="{
				header: '{data.header}',
				header_link: '{data.header_link}',
				subheader: '{data.subheader}',
				bodytext: '{data.bodytext}',
				tx_contentelements_card_header: '{data.tx_contentelements_card_header}',
				tx_contentelements_card_footer: '{data.tx_contentelements_card_footer}',
				images: '{images}',
				class: '{data.tx_contentelements_background_color}',
				imageOverlay: '{data.tx_contentelements_card_image_overlay}',
				animation: '{data.tx_contentelements_animation}'}"/>
			</f:else>
		</f:if>
	</f:section>
</div>
